.workspace-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 10px;
  /* Adjust gap between cards */
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-left: 5px solid #1c0c6ac7;
}

.card:hover {
  background-color: #1c0c6a04;
}

.card-heading {
  margin: 0px;
}

.nopending-img {
  height: 300px;
}

.no-approvals,
.no-tasks {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #130847;
  font-size: 20px;
  font-weight: 600;
  font-family: "Hind";
  letter-spacing: 1px;
}

.add-form-icon {
  position: absolute;
  top: 87%;
  left: 94%;
}

@media (max-width: 768px) {
  .workspace-div {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .card {
    padding: 5px;
  }

  .add-form-icon {
    left: 80%;
    top: 88%;
  }

  .css-knqc4i-MuiDialogActions-root {
    display: block;
  }

}

.details-div {
  display: flex;
  flex-direction: column;
}


.each-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px;
}

.info {
  margin: 0px;
  word-wrap: break-word;
  max-width: 40%;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

#scroll-dialog-title {
  font-family: "Hind", sans-serif;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1px;
  color: #1c0c6a;
}

.detail>span {
  color: black;
  font-size: 16px;
}

.popup-button-flex {
  display: flex;
  flex-direction: column;
}

.status-update-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  font-size: large;
  color: black;
}

.css-knqc4i-MuiDialogActions-root {
  display: none;
}





/* loader */
.loader-page{
  height: 85vh;
  width: 83vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-page1{
  height: 70vh;
  width: 83vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  position: relative;
  transform: rotate(45deg);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #493d88;
  -webkit-mask: radial-gradient(circle 8px at 50% 50%,#0000 90%,#000);
  mask: 1;
}
.loader:after {
  animation: l6 1s infinite;
  transform: perspective(300px) translateZ(0px)
}
@keyframes l6 {
  to {transform: perspective(300px) translateZ(150px);opacity:0}
}