.workspace-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 10px; /* Adjust gap between cards */
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .card:hover{
    background-color: #7055551f;
  }
  .card-heading{
    margin: 0px;
  }
  
  @media (max-width: 768px) {
    .workspace-div {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .card {
      padding: 5px;
    }
  }
  .details-div{
    display: flex;
    flex-direction: column;
  }

  .each-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px;
  }

  .info{
    margin: 0px;
    word-wrap: break-word;
    max-width: 40%;
  }
 
  .details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 550px;
}

.detail {
    display: flex;
    justify-content: space-between;
}


